<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title dir="ltr">
            {% if page.url == "/index.html" %}
            {{site.site_title}}
            {% else %}
            {{page.title}}
            {% endif %}
        </title>
        <meta name="description" content="
            {% if page.url == "/index.html" %}
            {{site.site_desc}}
            {% else %}
            {{page.content | strip_html | truncatewords:100}}
            {% endif %}
        " />
        <style>{% include b.jfff.min.css %}</style>
        <script>document.addEventListener('touchstart', function() {},false);</script>
        <meta name="apple-mobile-web-app-title" content="{{site.site_title}}" />
    </head>
    <body>
        <header>
            <h3>
                {% if page.url == "/index.html" %}
                Musings by Jefff
                {% else %}
                <a href="{{site.site_link}}">Musings by Jefff</a>
                {% endif %}
            </h3>
        </header>
        <hr>